
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar</title>
</head>
<body>
    <form action="/contaPagar/update" method="post">
        <label for="campo-nome">Nome</label>
        <input type="text" name="nome" id="campo-nome"
               value="@ViewBag.ContaPagar.Nome" />

        <label for="campo-valor">Valor</label>
        <input type="text" name="valor" id="campo-valor"
               value="@ViewBag.ContaPagar.Valor" />

        <label for="campo-tipo">Tipo</label>
        <input type="text" name="tipo" id="campo-valor"
               value="@ViewBag.ContaPagar.Tipo" />

        <label for="campo-descricao">Descricao</label>
        <input type="text" name="descricao" id="campo-descricao"
               value="@ViewBag.ContaPagar.Descricao" />

        <label for="campo-status">Status</label>
        <input type="text" name="status" id="campo-status"
               value="@ViewBag.ContaPagar.Status" />

        <input type="hidden" name="id" value="@ViewBag.ContaPagar.Id" />
        <button type="submit">Salvar</button>





    </form>

</body>
</html>
